#classroom_submit {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px;
    color: var(--light-theme);
    background-color: var(--dark-theme);
    border-color: var(--border-color);
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

#classroom_submit_btn {
    letter-spacing: 2px;

    font-size: 1.2em !important;
    padding: 3px 25px;
    border: none;
    background-color: var(--light-theme);
    color: var(--dark-theme);
    box-shadow: 1.4px 4.9px 3.9px hsl(0deg 0% 0% / 0.19);
    font-family: 'Poppins', sans-serif;

}

select {
    padding: 10px;
    border: grey solid 1px;
}


#classroom_submit_btn:hover {
    cursor: pointer;
}


.thead-dark th {
    color: var(--light-theme) !important;
    background-color: var(--dark-theme) !important;
    border-color: var(--dark-theme) !important;
}

table {
    font-size: 18px !important;
    box-shadow: 3.4px 6.9px 6.9px hsl(0deg 0% 0% / 0.39);
}
