html {
    scroll-behavior: smooth;
}

.parallax {
    background: url('images/homepagehead.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;

}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 20%;
}

h1 {
    text-align: center;
}

#video {
    display: flex;
    align-content: center;
    justify-content: center;
}

iframe {
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 15px;
}

#intro_content{
    padding:20px;
}