html {
    scroll-behavior: smooth;
}

.parallax {
    background: url('images/homepagehead.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;

}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 20%;
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px;
}

#video {
    display: flex;
    align-content: center;
    justify-content: center;
}
iframe {
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 15px;
}
#row {
    display: flex;
    
    margin: 150px;
    margin-top:0px;
    
}
  
#column {
    flex: 33.33%;
    padding: 5px;
    border: none;
    margin: 30px;
}


