*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

}

#login_content {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#login_info h1 {
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: var(--dark-theme);
    font-size: 2.3em;

}

#login_info p {
    text-align: center;
    font-size: 2.3em;
}



#login_page {

    width: 80vw;
    max-width: 70vh;

    /* takes min of these 2 based on the screen */
    padding: min(10%, 40px);

    background-color: white;

    box-shadow: 3.4px 6.9px 6.9px hsl(0deg 0% 0% / 0.39);

}

#inputsection {
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

label {
    display: block;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;

}

input {
    margin: 5px;
    height: 30px;
    width: 200px;
    font-size: 15px;

    border: none;
    border-bottom: 1px solid #aec0b9;

    /* to give a smooth transition of transform */

    -webkit-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

input:focus {
    background-image: none;


    outline: none;

}

input[type="text"],
input[type="password"] {
    text-indent: 20px;

}


#login_submit {
    /* background-image: linear-gradient(to right ,#00bf72, #a8eb12); */

    background-color: var(--dark-green);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.582);
    height: 40px;
    width: 200px;
    border: none;

    /* 
    font-family: "Yomogi", cursive; */
    font-weight: bolder;
    font-size: large;

    transition: 0.3s;

}

#login_submit:hover {
    cursor: pointer;
    background-color: var(--dark-green);
    transform: scale(1.1);

}

#option_block_1,
#option_block_2 {
    display: none;
}

select {
    padding: 10px;
    border: grey solid 1px;
}

#center_inside_this {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#already_filled{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 360px);
}