@charset "UTF-8";


@media (min-width: 110px) and (max-width: 711px) {

    #outerBox {
        border: 2pt solid black;
        height: 100px;
    }

    header h1 {
        font-size: 12px;
    }

    header p {
        padding-top: 10px;
        font-size: 10px;
        letter-spacing: 7px;
    }

    #start {
        margin-left: 0%;
        margin-right: 0%;
    }

    #quest {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #answerT {
        margin: 10% 0% 0% 15%;
    }

    #answerF {
        margin: 10% 0% 0% 15%;
    }

    #reset {
        margin: 0% 27% 0% 23%;
    }
}

@media (min-width: 508px) and (max-width: 711px) {
    header h1 {
        font-size: 12px;
    }

    header p {
        letter-spacing: 7px;
    }
}



@media (min-width: 712px) and (max-width: 910px) {

    #start {
        margin-left: 0%;
    }

    #answerT {
        margin: 5% 0% 0% 30%;
    }

    #answerF {
        margin: 5% 0% 0% 15%;
    }

    #quest {

        padding-left: 15px;
        padding-right: 15px;
    }

}

body {
    font-family: 'Coda', cursive;
    font-size: 12px;
}

header h1 {
    font-size: 20px;
    text-align: center;
}

header {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    margin-top: 70px;
    padding-bottom: 10px;
}

#start {
    font-size: 40px;
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 1s;
    /* Safari */
    transition-duration: 1s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-animation-name: changecolour;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: changecolour;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}

#start:after {
    content: "";
    background: #868679;
    display: block;
    position: absolute;
    margin-top: -120%;
    opacity: 0;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes changecolour {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;
    }
}

/* Standard syntax */
@keyframes changecolour {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;
    }
}



#count {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
}

#points {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}


#category {
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

#quest {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#answerT {
    margin: 5% 10% 0% 30%;

    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

}

#answerF {
    margin: 5% 20% 0% 15%;

    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


#winner {
    text-align: center;
    font-size: 45px;
    padding-bottom: 10px;
}

#looser {
    text-align: center;
    font-size: 45px;
    padding-bottom: 10px;
}

#reset {
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    position: relative;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-animation-name: changecolour;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: changecolour;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin-left: 40%;
    margin-top: 5%;

}